{% extends 'account/base.html' %}
{% block title %}
    Transport Pass Service | Company admin
{% endblock %}

{% block content %}
    <h1>Кабінет адміністратора організації</h1>
    <h2>{{ user.company.name }}</h2><br/><br/>
    <h3>Дані щодо використання ключів реєстрації:</h3><br/>
    {% if codes %}
        <p>Кількість виданих ключів: {{ all_codes_number }}</p>
        <p>Кількість вільних ключів: {{ free_codes_number }}</p>
    {#        {% for code in codes %}#}
    {#            <div class="alert alert-warning mt-2">#}
    {#                <p>Логин: {{ code.pub_key }} Пароль: {{ code.sec_key }} Пользователь: {{ code.user_id }}</p>#}
    {#            </div>#}
    {#        {% endfor %}#}
    {% else %}
        <p>Нет кодов для пользователей</p>
    {% endif %}
    <br/>
    <a href="{% url 'send_email_admin' %}" class="btn btn-outline-dark btn-lg">Надіслати запит на отримання додаткових ключів</a>
{% endblock %}
