{% extends 'account/base.html' %}
{% block title %}
    Transport Pass Service | Send email
{% endblock %}

{% block content %}
    <h2>Запит на отримання додаткових ключів</h2><br/>
    <form method="post" action="{% url 'send_email_admin' %}">
        {% csrf_token %}
        <p>Текст запиту: {{ form.content }}</p><br>
        <button type="submit" class="btn btn-outline-dark btn-lg">Надіслати</button><br><br>
        <a href="{% url 'company_admin' %}" class="btn btn-outline-dark btn-lg">Назад</a><br/><br/>
        <p> {{ message }}</p><br>
    </form>
{% endblock %}
