{% extends 'account/base.html' %}
{% block title %}
    Transport Pass Service | Change password
{% endblock %}
{% block content %}
 <h1>Зміна паролю користувача</h1><br/>
    <form method="post">
        {% csrf_token %}
        <h5>Введіть старий пароль:</h5>
        <p>{{ form.old_password }}</p>
        <h5>Введіть новий пароль:</h5>
        <p>{{ form.new_password }}</p>
        <h5>Введіть новий пароль повторно:</h5>
        <p>{{ form.new_password_repeat }}</p><br>
        <button type="submit" class="btn btn-outline-dark btn-lg"> Зберегти </button><br><br>
        <a href="{% url 'user' %}" class="btn btn-outline-dark btn-lg">Назад</a><br/><br/>
        <span>{{ message }}</span>
    </form>
{% endblock %}