{% extends 'account/base.html' %}
{% block title %}
    Transport Pass Service | User
{% endblock %}
{% block content %}
    <h1>Кабінет співробітника організації</h1>
    <h2>{{ user.company.name }}</h2>
    <h3>{{ user.last_name }} {{ user.first_name }} {{ user.patronymic }}</h3><br/><br/>
    <a href="{% url 'show_transport_pass' %}" class="btn btn-outline-dark btn-lg">Перепустка</a><br/><br/>
    <a href="{% url 'change_password' %}" class="btn btn-outline-dark btn-lg">Змінити пароль</a><br/><br/>
{% endblock %}