{% extends 'account/base.html' %}
{% block title %}
    Transport Pass Service | Company info
{% endblock %}
{% block content %}
    <h1>Інформація про організацію</h1><br/>
    <form method="post" action="{% url 'company_info' %}">
        {% csrf_token %}
        <h4>ЄДРПОУ: {{ form.company_kod }}</h4><br/>
        <button type="submit" class="btn btn-outline-dark btn-lg">Отримати дані</button><br/><br/>
        <a href="{% url 'super_admin' %}" class="btn btn-outline-dark btn-lg">Назад</a><br/>
        <span>{{ message }}</span><br/><br/>
        {% if company %}
            <h4>Назва: {{ company.name }}</h4>
            <h4>ЄДРПОУ: {{ company.kod }}</h4><br/>
            <h4>Адміністратор:</h4>
            {% for admin in company_admins %}
                <h4> {{ admin.username }}: {{ admin.last_name }} {{ admin.first_name }} {{ admin.patronymic }}</h4>
            {% endfor %}
            <br/>
            <h4>Кількість виданих ключів: {{ all_codes_number }}</h4>
            <h4>Кількість вільних ключів: {{ free_codes_number }}</h4>
        {% endif %}
    </form>
    <br/><br/>
{% endblock %}