{% extends 'account/base.html' %}
{% block title %}
    Transport Pass Service | Generate codes
{% endblock %}
{% block content %}
    <h1>Згенерувати коди для користувачів організації</h1><br/>
    <form method="post" action="{% url 'generate_codes' %}">
        {% csrf_token %}
        <h4>ЄДРПОУ: {{ form.company_kod }}</h4><br/>
        <h4>Кількість кодів для генерування: {{ form.codes_number }}</h4>
        <br/>
        <button type="submit" class="btn btn-outline-dark btn-lg">Згенерувати</button><br><br>
        <a href="{% url 'super_admin' %}" class="btn btn-outline-dark btn-lg">Назад</a><br/><br/>
        <span>{{ message }}</span>
    </form>
{% endblock %}
