{% load static %}


<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Propusk</title>
</head>
<body>
Пропуск<br>
 {% if user %}
        <div class="alert alert-warning mt-2">
            <p>{{ user.last_name }}</p>
            <p>{{ user.first_name }}</p>
            <img src=" {{ MEDIA_URL }}{{ 'qr_codes/qr_'}}{{user.username}}{{'.png' }}" alt="QRCode"/>
        </div>
    {% else %}
        <p>Нет пропуска</p>
    {% endif %}
</body>
</html>