<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration form</title>
</head>
<body>
 <h1>Регистрация сотрудника</h1>
    <form method="post">
        {% csrf_token %}
        <p>Имя: {{ form.first_name }}</p>
        <p>Фамилия: {{ form.last_name }}</p>
        <p>Телефон: {{ form.phone }}</p>
        <p>email: {{ form.email }}</p><br>
        <button type="submit" class="btn btn-success"> Зарегистрироваться </button><br><br>
        <span>{{ error }}</span>
    </form>
</body>
</html>