<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>send_email</title>
</head>
<body>
Написать запрос главному администратору <br>
{{ request.user }} <br>
    <form method="post" action="{% url 'send_email_admin' %}">
        {% csrf_token %}
        <p>Тема: {{ form.subject }}</p>
        <p>Текст: {{ form.content }}</p><br>
        <button type="submit" class="btn btn-success">Отправить</button><br><br>
    </form>
</body>
</html>
